

  <img class=" m-x-auto d-block img-fluid" src="PUHSD-Logo-Text-Bottom-0480.png" alt="PUHSD Logo" /><br/>
  <!-- <a href="/auth/google_oauth2" ><img  class="m-x-auto d-block" src="btn_google_signin_light_normal_web.png" alt="Sign in with Google"/></a> -->
  <%= google_sign_in_button 'Sign in with my Google account', proceed_to: create_login_url %>
